*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: gray;
    border: 2px black solid;
    border-radius: 15px;
    width: 25%;
    height: 50%;
}

.screen {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px black solid;
}

.display{
    background-color: white;
    padding: 10px 80px;
    border-radius: 10px;
}

.btns {
    height: 80%;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}

.row {
    display: flex;
    justify-content: space-around;
}

.operator-btn, .num-btn, .equals-btn, .clear-btn {
    color: white;
    background-color: black;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
}

.operator-btn:hover, .num-btn:hover, .equals-btn:hover, .clear-btn:hover {
    background-color: gray;
}